---
layout: default
---

<!-- Page Header -->
<!-- <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"> -->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!-- <hr class="small"> -->
                    <span class="subheading">{{ page.description }}</span>
                </div>
                <br/>
                <a href="https://github.com/wagnlinzh/wagnlinzh.github.io" class="btn">View on GitHub</a>
      <a href="https://github.com/wagnlinzh/wagnlinzh.github.io/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/wagnlinzh/wagnlinzh.github.io/tarball/master" class="btn">Download .tar.gz</a>
            </div>
        </div>
    </div>
</section>

<!-- Main Content -->
<section class="main-content">
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>
</section>

<hr id="page-hr">
